.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container{
        display: flex;
        align-items: center;
        img{
            width: 40px;
            height: 40px;
        }
        h1{
            font-size: 25px;
        }
    }
    .website-navbar-button{
        border: none;
        background-color: transparent;
        transition: 0.3s;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: none;
        &:hover{
            color: orange;
        }
    }

    .avatar-container{
        display: flex;
        align-items: center;
        gap: 10px;
        .avatar{
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            span{
                &:hover{
                    color: #428bca
                }
            }
        }
    }
}